:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--white);
  color: var(--slate);
}

/* header */
ul {
  list-style-type: none;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.logo-span {
  color: var(--navyblue, #2e2f42);
}

.header .list {
  list-style: none;
}

.nav {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav .link {
  text-decoration: none;
}
.link:hover {
  color: var(--ocean, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:focus {
  color: var(--ocean, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  font-style: normal;
}
.address .list {
  text-decoration: none;
}
.address .list .link {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .list .link:hover {
  color: var(--ocean, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .list .link:focus {
  color: var(--ocean, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* index-section1 */
.hero {
  background: var(--navyblue);
}
.hero-title {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:hover {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

/* index-section2 */
.qualities-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.qualities-li-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.qualities-li-p {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* index-section3 */
.doing-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.doing .list {
  list-style: none;
}
/* index-section4 */
.team {
  background: var(--cloud, #f4f4fd);
}
.team-li {
  background-color: #ffffff;
}
.team-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-li-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.team-li-p {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* portfolio */

.direction .list {
  list-style: none;
}
.direction-button {
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.direction-button:hover {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.direction-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.direction .list {
  list-style: none;
}
.derection .list .link {
  text-decoration: none;
  background: var(--white);
}
.direction-li-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.direction-li-p {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer */
.footer {
  background: var(--navyblue);
}
.footer-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo .span {
  color: #f4f4fd;
}
.footer-p {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
